.choose-program-form__form-description {
  font-family: $font-oswald;
  color: $black;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}

.choose-program-form__submit {
  font-size: 16px;
  line-height: 20px;
  border: none;
}

.choose-program-form__note {
  font-family: $font-arial;
  color: $dark-grey;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
}
