.show-more {
  border: 1px solid #ededed;
}

.show-more polygon {
  fill: #d3d3d3;
}

.show-more__show-products {
  font-family: $font-oswald;
  font-size: 16px;
  font-weight: 400;
  color: $black;
  line-height: 20px;
  text-transform: uppercase;
}

.show-more__text-detail {
  font-family: $font-arial;
  color: $dark-grey;
  font-size: 12px;
  line-height: 16px;
}

.show-more__link-more {
  font-size: 16px;
  line-height: 20px;
}
