.main-nav__logo {
  &:hover {
    fill-opacity: 0.8;
  }
  &:active {
    fill-opacity: 0.6;
  }
}


.site-list {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.site-list__item {
  margin: 0px;
  padding: 20px;
  font-family: Oswald, Arial, sans-serif;
  color: #111111;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  border-bottom: 1px solid #e6e6e6;
}

.site-list__link-to-page {
  color: #111111;
  &:hover {
    color: rgba(17, 17, 17, 0.6);
  }
  &:active {
    color: rgba(17, 17, 17, 0.3);
  }
  &--active {
    border-bottom: 2px solid #68b738;
  }
}
