.product-catalog__title {
  font-family: Oswald, Arial, sans-serif;
  font-size: 36px;
  font-weight: 400;
  color: #111111;
  line-height: 60px;
}

.card-product {
  border-top: 1px solid #ededed;
  border-right: 1px solid #ededed;
  border-left: 1px solid #ededed;
}

.card-product__title {
  font-family: Oswald, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #111111;
  line-height: 20px;
  text-transform: uppercase;
}

.card-product__text-description-link {
  color: #111111;
}

.feature-table__row td{
  font-family: Arial, sans-serif;
  color: #444444;
  font-size: 12px;
  line-height: 16px;
  &:first-child {
    width: 70px;
  }
  &:nth-child(2) {
    width: 71px;
    text-align: right;
  }
}

.card-product__order-link {
  font-family: Oswald, Arial, sans-serif;
  font-size: 16px;
  color: #ffffff;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  background-color: #68b738;
  &:hover {
    background-color: #5eaa2f;
  }
  &:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #5eaa2f;
  }
}

.show-more {
  border: 1px solid #ededed;
}

.show-more polygon {
  fill: #d3d3d3;
}

.show-more__show-products {
  font-family: Oswald, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #111111;
  line-height: 20px;
  text-transform: uppercase;
}

.show-more__text-detail {
  font-family: Arial, sans-serif;
  color: #444444;
  font-size: 12px;
  line-height: 16px;
}

.show-more__link-more {
  font-family: Oswald, Arial, sans-serif;
  font-size: 16px;
  color: #444444;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  background-color: #f2f2f2;
  &:hover {
    background-color: #ebebeb;
  }
  &:active {
    color: rgba(68, 68, 68, 0.3);
    background-color: #ebebeb;
  }
}
