@mixin pseudo {
  display: inline-block;
  position: absolute;
  content: "";
}

.programs {
  margin: 0;
  padding: 0;
  list-style: none;
}

.programs__item {
  background-color: $light-grey;
}

.programs__title {
  margin-left: 70px;
  color: $black;
  font-family: $font-oswald;
  font-size: 24px;
  font-weight: 400;
  line-height: 50px;
  text-transform: uppercase;

  &::before {
    @include pseudo;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: -70px;
    background-color: $light-green;
  }
}

.programs__title--slim::after {
  @include pseudo;
  width: 35px;
  height: 49px;
  margin-left: -170px;
  margin-top: -2px;
  background-image: url("../img/icon-cat-slim.svg");
  background-repeat: no-repeat;
}

.programs__title--pro::after {
  @include pseudo;
  width: 67px;
  height: 28px;
  margin-left: -215px;
  margin-top: 11px;
  background-image: url("../img/icon-cat-pro.svg");
  background-repeat: no-repeat;
}

.programs__description {
  padding-bottom: 24px;
  font-family: $font-arial;
  font-size: 14px;
  color: $dark-grey;
  line-height: 18px;
  border-bottom: 1px solid #d9d9d9;
}

.programs__catalog-link {
  font-family: $font-oswald;
  font-size: 16px;
  color: $black;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;

  &:active {
    color: rgba(17, 17, 17, 0.3);
  }
}

.programs__catalog-link::after {
  @include pseudo;
  width: 25px;
  height: 12px;
  margin-top: 2px;
  margin-left: 14px;
  background-image: url("../img/icon-right-arrow-long.svg");
  background-repeat: no-repeat;
}

.programs__catalog-link:hover::after {
  width: 34px;
  background-image: url("../img/icon-right-arrow-verylong.svg");
}

.programs__catalog-link:active::after {
  width: 34px;
  background-image: url("../img/icon-right-arrow-verylong.svg");
  opacity: 0.3;
}
